# Ignore macOS system files
.DS_Store

# Node dependencies
/frontend/node_modules/
/frontend/package-lock.json
/frontend/tailwind.config.js
/frontend/postcss.config.js

/frontend/build/
/frontend/.env

package.json

# Python virtual environment
/backend/venv/

# Python cache
**/__pycache__/
**/*.py[cod]
**/*.pyo

# IDE/editor settings
.vscode/
.idea/

# Environment or secret config files
*.env

# Logs and local runtime files
*.log

# OS trash files
.Trashes